{% extends 'main.html' %}

{% block content %}

<div class="site-content">
    <!-- Content -->
    <div class="content-area py-1">
        <div class="container-fluid">
            <div class="box bg-white user-1">
                <div class="row row-md">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="box box-block tile tile-2 bg-danger mb-2">
                            <div class="t-icon right"><i class="ti-shopping-cart-full"></i></div>
                            <div class="t-content">
                                <h1 class="mb-1">{{ count }}</h1>
                                <h6 class="text-uppercase">شاگردان</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="box box-block tile tile-2 bg-success mb-2">
                            <div class="t-icon right"><i class="ti-bar-chart"></i></div>
                            <div class="t-content">
                                <h1 class="mb-1">{{ teacher }}</h1>
                                <h6 class="text-uppercase">استادان</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="box box-block tile tile-2 bg-primary mb-2">
                            <div class="t-icon right"><i class="ti-package"></i></div>
                            <div class="t-content">
                                <h1 class="mb-1">6,800</h1>
                                <h6 class="text-uppercase">کارمندان</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="box box-block tile tile-2 bg-warning mb-2">
                            <div class="t-icon right"><i class="ti-receipt"></i></div>
                            <div class="t-content">
                                <h1 class="mb-1">1,682</h1>
                                <h6 class="text-uppercase">شاگردان امسال</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="clearfix mb-1">
                    <h5 class="float-xs-left mx-3">میزان رشد محصلین کمپیوتر ساینس نظر به دانشگاه های دیگر در سطح کابل</h5>
                    <div class="float-xs-right">
                        <button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-angle-down"></i></button>
                        <button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-reload"></i></button>
                        <button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-close"></i></button>
                    </div>
                </div>
                <div id="multiple" class="chart-container"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}